---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";
---

<Layout title="Bewegung">
	<header>
		🔥
		<h1>bring Bewegung to your site</h1>
		<p>
			[bə&#39veːɡʊŋ]: the german word for movement. A small FLIP animation library to animate stuff.
			Still in pre-alpha-prequel, bugs are included
		</p>
	</header>
	<section>
		<ul>
			<Card
				headline="small footprint"
				icon="📱"
				copy="small in size and in memory usage"
				columnSpan={4}
			/>
			<Card
				headline="0 dependencies"
				icon="📦"
				copy="will not break when leftpad or isOdd are gone"
				columnSpan={4}
			/>
			<CardGrid headline="Works well with grids" icon="📦" copy="re-arrange items smoothly" />
		</ul>
	</section>
</Layout>

<style>
	header {
		grid-column: 3/11;
	}
	section {
		grid-column: 3/11;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(8, calc((100% / 8) - var(--space-100) * 7 / 8));
		gap: var(--space-100);
		grid-auto-rows: max-content;
		min-height: 100vh;
	}
</style>
