<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Bewegungs Animation Library" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Hello</title>
  </head>
  <body>
    <div style="height: 30vh;"></div>
    <main>
      <section>
        <h1>result: <span id="result"></span></h1>
        <p>test1</p>
        <div class="hidden">
          <div>
            <button>case display:none</button>
          </div>
        </div>
        <div class="contents">
          <div>
            <button>case display:contents</button>
          </div>
        </div>
      </section>
    </main></body
  >
</html>

<script>
  const result = document.getElementById("result");
  const section = document.querySelector("section");

  section?.addEventListener("click", (event) => {
    result!.innerText = (event.target as HTMLButtonElement).innerText;
  });

  section?.addEventListener("focusin", (event) => {
    result!.innerText = (event.target as HTMLButtonElement).innerText;
  });
</script>

<style>
  main {
    height: 100vh;
    outline: 1px solid blue;
    /* padding: 3rem; */
    /* contain: layout; */
  }

  section {
    outline: 1px solid green;
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  main div {
    padding: 1rem;
    outline: 1px solid red;
  }

  .hidden {
    display: none;
  }
  .contents {
    display: contents;
  }
</style>
