---
import Nav from "../components/Nav.astro";
import "../styles/resets.css";
import "../styles/vars.css";
import "../styles/utility.css";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Nav pages={["cards", "filter"]} />
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	body {
		background-color: var(--color-main);
		color: var(--color-secondary);
	}

	main {
		min-height: 100vh;
		display: grid;
		grid-template-columns: repeat(12, calc((100% / 12) - var(--space-100) * 11 / 12));
		row-gap: var(--space-400);
		column-gap: var(--space-100);
		grid-auto-rows: max-content;
	}
</style>
