---
import "../styles/resets.css";
import "../styles/vars.css";
import "../styles/utility.css";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
		<footer><p>2023</p></footer>
	</body>
</html>

<style is:global lang="scss">
	body {
		color: var(--grey-20);
		background-color: var(--grey-95);
	}

	main,
	footer {
		display: grid;
		grid-template-columns:
			[full-start] minmax(1rem, 1fr) [content-start] minmax(auto, 70rem) [content-end] minmax(
				1rem,
				1fr
			)
			[full-end];
		grid-auto-columns: max-content;
		row-gap: clamp(2rem, 5vh, 5rem);

		& > * {
			grid-column: content;
		}
	}

	footer {
		height: 20vh;
		align-items: end;
		justify-items: center;
	}

	h1 {
		font-size: var(--space-400);
		line-height: 1.1;
	}

	h2 {
		font-size: var(--space-300);
		line-height: 1.1;
	}

	h3 {
		line-height: 1.1;
		font-size: var(--space-200);
	}

	.flow > * + * {
		margin-top: var(--flow-space, 1em);
	}

	.list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
	}
</style>
