
body {
	--padding: var(--space-200);
	display: grid;
	grid-template-rows:  var(--space-500);
	grid-template-columns: 1fr minmax(calc(20rem - 2*var(--padding)), 60rem) 1fr;
	grid-auto-rows: max-content;
	grid-row-gap: var(--main-row-gap);
	grid-column-gap: clamp(var(--padding), 5vw, var(--space-500));
	background-color: var(--color-secondary);
}

body::before{
	content: "";
	grid-row: 1/2;
	grid-column: 1/4;
}

body > nav {
	grid-row: 1/2;
	grid-column: 1/4;
}

body > * {
	grid-column: 2/3;
}

.site-naviagtion {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 5vw;
}

.site-naviagtion ul {
	width: 100%;
}

.site-naviagtion ul li:first-child{
	margin-inline-end: auto;
}


footer {
	padding: var(--space-200) 0;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li,
label,
code {
	color: var(--color-main);
	max-width: 60ch;
}

a {
	white-space: nowrap;
}


img {
	max-height: 100vh;
	max-width: 100vw;
}


h1 {
	font-size: clamp(var(--space-200), 10vw, var(--space-400));
	margin-top: var(--space-500);
}

h2 {
	font-size: clamp(var(--space-200), 10vw, var(--space-300));
	line-height: 100%;
}

h3 {
	font-size: clamp(var(--space-100), 10vw, var(--space-200));
	line-height: 100%;
}

section {
	min-height: 30vh;
}

article h3:not(h3:first-of-type) {
	margin-top: var(--space-300);
}
article h4:not(h3 + h4) {
	margin-top: var(--space-200);
}

ul, ol {
	display: grid;
	grid-row-gap: var(--space-100);
}


ol {
	counter-reset: orderedlist;
	list-style: var(---list-style, decimal);
}


li::marker {
  content: "";
}

ol li::before, ul li::before{
  color: var(--color-main);
	border-radius: var(--space-70);
	border: 1px solid var(--color-main);
	width: var(--space-200);
	height: var(--space-200);
	display: inline-block;
	text-align: center;
	margin-inline-end: var(--space-70);
}

ol li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
	margin-inline-end: var(--space-90);
}

ul li[data-icon]::before {
  content: attr(data-icon);
}

nav ul li::before {
  content: "#";
}

br {
	content: "";
	width: 100%;
	height: var(--border-size) ;
	background-color: var(--border-color);
}

button:active {
	transform: translateY(5%);
	transition: transform 0.2s ease-in-out;
}

pre {
	padding: 0 var(--space-100);
	overflow-x: scroll;
	scrollbar-width: none;
	width: 100%;
}

pre::-webkit-scrollbar {
  display: none;
}

*:not(pre) > code {
	padding: var(--space-70);
	font-size: var(--space-90);
	width: max-content;
}


.layout-1-2 {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-300);
}

:where(.layout-1-2 > *:first-child){
	flex-basis: calc(33% - var(--space-300) / 2);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: var(--space-100);
}

:where(.layout-1-2> *:last-child){
	flex-basis: calc(66% - var(--space-300) / 2);
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	gap: var(--space-100);
}


.flow {
	display: flex;
	gap: var(--flow-gap, var(--space-200));
	flex-direction: var(--flow-direction, column);
}

.flexrow {
	--flow-direction: row;
}

.flexwrap {
	flex-wrap: wrap;
}

.gap4 {
	--flow-gap: var(--space-500);
}

.padding {
	padding: var(--padding, 1rem);
}

.padding-x {
	padding-inline: var(--padding, 1rem);
}

.padding-y {
	padding-block: var(--padding, 1rem);
}

.glass {
		backdrop-filter: blur(10px) saturate(200%);
    background-color: var(--glass-background-color);
    border-radius: var(--border-radius);
		border: var(--border-size) solid var(--glass-border-color);
}

.sticky4 {
	--sticky-offset: var(--space-500)
}

.sticky {
	position: sticky;
	top: var(--sticky-offset, 0)
}

.nowrap {
	white-space: nowrap;
}

.max-content {
	width: max-content;
}