
.example__list {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-90)
}

.example__list li {
	flex-basis: calc(50% - var(--space-90));
}


.background-animation {
	position: absolute;
	z-index: -1;
	filter: blur(50px);
	overflow: hidden;
	inset: 0;
	top: 20vh;
}

@media screen and (min-width: 30rem){
	.background-animation {
		filter: blur(75px);
	}
}

@media screen and (min-width: 40rem){
	.background-animation {
		filter: blur(100px);
	}
}

.shape1 {
	content: "";
	position: absolute;
	top: 0;
	left: 11%;
	height: 25vh; 
	width: 60vw;
	background-color: #833ab4;
	clip-path: polygon(47% 96%, 8% 83%, 10% 13%, 87% 0, 97% 37%, 64% 55%);
	animation: background 20s ease infinite alternate ;
}
.shape2 {
	content: "";
	top: 0;
	left: 33%;
	position: absolute;
	height: 50vh; 
	width: 25vw;
	background-color: #fd1d1d;
	clip-path: polygon(68% 70%, 8% 83%, 46% 9%, 87% 0, 97% 37%, 100% 100%);
	animation: background 25s ease infinite alternate ;
}
.shape3 {
	content: "";
	top: 0;
	left: 55%;
	position: absolute;
	height: 35vh; 
	width: 30vw;
	background-color: #fcb045;
	clip-path: polygon(0 100%, 14% 15%, 81% 1%, 100% 43%, 85% 100%, 49% 45%);
	animation: background 30s ease infinite alternate ;
}


@keyframes background {
	from {
		transform: translate(0,0) rotate(0deg) scale(1);
	}
	to {
		transform: translate(-10%, -20%) rotate(220deg) scale(1.5);
	}
}