.filter__colors {
	display: flex;
	flex-wrap: wrap;
	gap: var(--base-1x);
}

.color {
	width: calc(100% / 5 - var(--base-1x));
	aspect-ratio: 0.66;
}

.color__img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.filter__colors {
	grid-column: 3/5;
}

.filter__controls {
	grid-column: 2/3;
	display: flex;
	flex-direction: column;
	gap: var(--base-1x);
	height: max-content;
}
