.filter {
	display: grid;
	grid-template-columns: 1fr 1.6fr;
	grid-gap: var(--space-200);
}

.filter__colors {
	--flow-gap: var(--space-100);
	min-width: 20rem;
}

.color {
	width: calc(100% / 5 - var(--space-100));
	aspect-ratio: 0.66;
}

.color__img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.filter__controls {
	display: flex;
	flex-direction: column;
	gap: var(--space-100);
	height: max-content;
}
