---
export interface Props {
	icon: string;
	headline: string;
	copy: string;
	columnSpan?: number;
}

const { copy, icon, headline, columnSpan = 2 } = Astro.props;
---

<li>
	{icon}
	<h2>
		{headline}
	</h2>
	<p>
		{copy}
	</p>
</li>

<style define:vars={{ columnSpan }}>
	li {
		padding: var(--space-200);
		background-color: var(--color-card);
		border-radius: var(--space-100);
		grid-column: span var(--columnSpan);
	}
</style>
